@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');
/* ################# 공통 요소 ####################### */
body{font-family: 'Noto Sans KR', sans-serif; font-size: 16px;}
.inner{
    max-width: 1000px;
    margin: 0 auto;
}
a{color:#2d2d2f;}
.mid-mg{
    font-size: 35px;
}
.main-mg{
    font-size: 65px;
    font-weight: bold;
}
.main-mg span{
    font-size: 2rem;
}
.desc-mg{
    font-size: 17px;
}
.canvas-section{
    font-size: 30px;
}
.pin{
    width: 1px;
    height: 100px;
    background-color: orchid;
}
/* ################# header ####################### */
header{
    border-bottom: 1px solid #dddddd;
    position: fixed;
    left:0;
    top:0;
    width: 100%;
    min-width: 340px;
}
ul.gnb,.lnb_menu,.lnb{
    display: flex;
    justify-content: space-between;
}
ul.gnb li a{
    height: 48px;
    line-height: 48px;
    display: inline-block;
    font-size: 16px;
    color:#2d2d2f;
}
.lnb_menu h2{
    font-weight: 700;
    font-size: 20px;
    line-height: 48px;
    letter-spacing: -1px;
}
.lnb_menu .lnb li{
    margin-left: 24px;
}
.lnb_menu .lnb li a{
    display: inline-block;
    height: 48px;
    line-height: 48px;
    font-size: 13px;
    color:#2d2d2f;
}
section{
    position: relative;
    height: 100vh;
    border: 1px solid #000;
    text-align: center;
}
section h1,section .main-mg,section .desc-mg,section .description{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
}
section h1{
    font-size: 130px;
    width: 100%;
    text-align: center;
}
section .description{
    font-size: 28px;
    width: 1000px;
}
.desc-mg{
    width: 27%;
    /* background-color: red; */
}
#scroll-3{
    text-align: left;
}
footer{
    text-align: center;
    height: 40px;
    background-color: orange;
    line-height: 40px;
    color:#fff;
}
@media (max-width:1024px){

    .inner{
        width: 100%;
        padding: 0 10px;
        box-sizing: border-box;
    }
    section .description{
        font-size: 25px;
        width: 100%;
        padding:0 10px;
        box-sizing: border-box;
    }
    section h1{
        font-size: 100px;
    }
    .mid-mg{
        font-size: 30px;
    }
    .main-mg{
        font-size: 45px;
        font-weight: bold;
    }
    .desc-mg{
        font-size: 15px;
    }
    .canvas-section{
        font-size: 25px;
    }
}
@media (max-width:600px){
    section h1{
        font-size: 13vw;
    }
    .mid-mg{
        font-size: 6vw;
    }
    .main-mg{
        font-size: 8vw;
        font-weight: bold;
    }
    .desc-mg{
        font-size: 2.5vw;
    }
    .canvas-section{
        font-size:4vw;
    }
    section .description{
        font-size: 4vw;
    }
    .main-mg span{
        font-size: 4vw;
    }

}
